page-teacher-module-course {
    .scroll-content{
        overflow: hidden;
    }

    .card-content{
        padding: 0px;
        
    }    

    .card-icon{
        color: #0099ff;
        font-size: 22px;
        padding-top: 0.5rem;
    }    

    .select-box{
        max-width: 94%;
        background-color: white;
        margin: auto;
        margin-top: 1rem;
    }
}
