body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:971px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u196_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:485px;
  height:780px;
}
#u196 {
  border-width:0px;
  position:absolute;
  left:282px;
  top:363px;
  width:485px;
  height:780px;
}
#u196_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u197 {
  border-width:0px;
  position:absolute;
  left:345px;
  top:440px;
  width:360px;
  height:640px;
}
#u197_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
  overflow:hidden;
}
#u198_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:58px;
}
#u198 {
  border-width:0px;
  position:absolute;
  left:345px;
  top:513px;
  width:1px;
  height:57px;
}
#u198_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u199 {
  border-width:0px;
  position:absolute;
  left:345px;
  top:440px;
  width:360px;
  height:130px;
  overflow:hidden;
  touch-action:none;
}
#u199_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:130px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u199_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u201_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:364px;
  height:140px;
  background:inherit;
  background-color:rgba(218, 67, 54, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u201 {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-10px;
  width:364px;
  height:140px;
}
#u201_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u202_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:22px;
}
#u202 {
  border-width:0px;
  position:absolute;
  left:325px;
  top:43px;
  width:20px;
  height:22px;
}
#u202_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u203 {
  position:absolute;
  left:325px;
  top:43px;
}
#u203_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:20px;
  height:22px;
  background-image:none;
}
#u203_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u204_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:22px;
}
#u204 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:22px;
}
#u204_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u203_state1 {
  position:relative;
  left:0px;
  top:0px;
  width:38px;
  height:39px;
  visibility:hidden;
  background-image:none;
}
#u203_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u205_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:56px;
}
#u205 {
  border-width:0px;
  position:absolute;
  left:-18px;
  top:-17px;
  width:56px;
  height:56px;
}
#u205_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u206_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:667px;
  height:170px;
  background:inherit;
  background-color:rgba(218, 67, 54, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u206 {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:78px;
  width:667px;
  height:170px;
}
#u206_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u207_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:4px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u207 {
  border-width:0px;
  position:absolute;
  left:179px;
  top:126px;
  width:179px;
  height:4px;
}
#u207_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:4px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u207.selected {
}
#u207_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u208_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:4px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u208 {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:126px;
  width:179px;
  height:4px;
}
#u208_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:4px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u208.selected {
}
#u208_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u209_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto Medium', 'Roboto Regular', 'Roboto';
  font-weight:500;
  font-style:normal;
  font-size:14px;
  color:rgba(255, 255, 255, 0.549019607843137);
  text-align:center;
  line-height:53px;
}
#u209 {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:88px;
  width:180px;
  height:33px;
  font-family:'Roboto Medium', 'Roboto Regular', 'Roboto';
  font-weight:500;
  font-style:normal;
  font-size:14px;
  color:rgba(255, 255, 255, 0.549019607843137);
  text-align:center;
  line-height:53px;
}
#u209_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto Medium', 'Roboto Regular', 'Roboto';
  font-weight:500;
  font-style:normal;
  font-size:14px;
  color:rgba(255, 255, 255, 0.549019607843137);
  text-align:center;
  line-height:53px;
}
#u209.selected {
}
#u209_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-10px;
  width:180px;
  word-wrap:break-word;
}
#u210_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto Medium', 'Roboto Regular', 'Roboto';
  font-weight:500;
  font-style:normal;
  font-size:14px;
  color:rgba(255, 255, 255, 0.549019607843137);
  text-align:center;
  line-height:53px;
}
#u210 {
  border-width:0px;
  position:absolute;
  left:178px;
  top:88px;
  width:180px;
  height:33px;
  font-family:'Roboto Medium', 'Roboto Regular', 'Roboto';
  font-weight:500;
  font-style:normal;
  font-size:14px;
  color:rgba(255, 255, 255, 0.549019607843137);
  text-align:center;
  line-height:53px;
}
#u210_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto Medium', 'Roboto Regular', 'Roboto';
  font-weight:500;
  font-style:normal;
  font-size:14px;
  color:rgba(255, 255, 255, 0.549019607843137);
  text-align:center;
  line-height:53px;
}
#u210.selected {
}
#u210_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-10px;
  width:180px;
  word-wrap:break-word;
}
#u212 {
  border-width:0px;
  position:absolute;
  left:345px;
  top:440px;
  width:360px;
  height:26px;
  overflow:hidden;
}
#u212_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:26px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u212_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u213_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:364px;
  height:30px;
}
#u213 {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:364px;
  height:30px;
  opacity:0.150000005960464;
}
#u213_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u214_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto Regular', 'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u214 {
  border-width:0px;
  position:absolute;
  left:686px;
  top:5px;
  width:29px;
  height:16px;
  font-family:'Roboto Regular', 'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u214_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u215_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:17px;
}
#u215 {
  border-width:0px;
  position:absolute;
  left:308px;
  top:4px;
  width:15px;
  height:17px;
}
#u215_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u216_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:24px;
}
#u216 {
  border-width:0px;
  position:absolute;
  left:264px;
  top:2px;
  width:21px;
  height:24px;
}
#u216_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u217_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:20px;
}
#u217 {
  border-width:0px;
  position:absolute;
  left:286px;
  top:4px;
  width:18px;
  height:20px;
}
#u217_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u218_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto Regular', 'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u218 {
  border-width:0px;
  position:absolute;
  left:327px;
  top:5px;
  width:29px;
  height:16px;
  font-family:'Roboto Regular', 'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u218_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u219 {
  border-width:0px;
  position:absolute;
  left:345px;
  top:570px;
  width:360px;
  height:48px;
  overflow:hidden;
}
#u219_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:48px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u219_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u220_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto Regular', 'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#7D7D7D;
  line-height:53px;
}
#u220 {
  border-width:0px;
  position:absolute;
  left:17px;
  top:7px;
  width:163px;
  height:33px;
  font-family:'Roboto Regular', 'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#7D7D7D;
  line-height:53px;
}
#u220_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-10px;
  width:163px;
  word-wrap:break-word;
}
#u221_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:4px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u221 {
  border-width:0px;
  position:absolute;
  left:706px;
  top:793px;
  width:97px;
  height:4px;
}
#u221_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:4px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u221.selected {
}
#u221_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u222_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:4px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u222 {
  border-width:0px;
  position:absolute;
  left:604px;
  top:793px;
  width:104px;
  height:4px;
}
#u222_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:4px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u222.selected {
}
#u222_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u223_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:4px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u223 {
  border-width:0px;
  position:absolute;
  left:514px;
  top:793px;
  width:91px;
  height:4px;
}
#u223_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:4px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u223.selected {
}
#u223_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u224_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:4px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u224 {
  border-width:0px;
  position:absolute;
  left:429px;
  top:793px;
  width:86px;
  height:4px;
}
#u224_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:4px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u224.selected {
}
#u224_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u225 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u226_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:4px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u226 {
  border-width:0px;
  position:absolute;
  left:802px;
  top:793px;
  width:88px;
  height:4px;
}
#u226_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:4px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u226.selected {
}
#u226_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u227_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:4px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u227 {
  border-width:0px;
  position:absolute;
  left:890px;
  top:793px;
  width:81px;
  height:4px;
}
#u227_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:4px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u227.selected {
}
#u227_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u228 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u229_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:53px;
  background:inherit;
  background-color:rgba(218, 67, 54, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u229 {
  border-width:0px;
  position:absolute;
  left:345px;
  top:1027px;
  width:361px;
  height:53px;
}
#u229_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u230 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u231_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto Medium', 'Roboto Regular', 'Roboto';
  font-weight:500;
  font-style:normal;
  font-size:14px;
  color:rgba(255, 255, 255, 0.549019607843137);
  text-align:center;
  line-height:53px;
}
#u231 {
  border-width:0px;
  position:absolute;
  left:345px;
  top:1037px;
  width:66px;
  height:33px;
  font-family:'Roboto Medium', 'Roboto Regular', 'Roboto';
  font-weight:500;
  font-style:normal;
  font-size:14px;
  color:rgba(255, 255, 255, 0.549019607843137);
  text-align:center;
  line-height:53px;
}
#u231_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto Medium', 'Roboto Regular', 'Roboto';
  font-weight:500;
  font-style:normal;
  font-size:14px;
  color:rgba(255, 255, 255, 0.549019607843137);
  text-align:center;
  line-height:53px;
}
#u231.selected {
}
#u231_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-10px;
  width:66px;
  word-wrap:break-word;
}
#u232_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto Medium', 'Roboto Regular', 'Roboto';
  font-weight:500;
  font-style:normal;
  font-size:14px;
  color:rgba(255, 255, 255, 0.549019607843137);
  text-align:center;
  line-height:53px;
}
#u232 {
  border-width:0px;
  position:absolute;
  left:413px;
  top:1037px;
  width:62px;
  height:33px;
  font-family:'Roboto Medium', 'Roboto Regular', 'Roboto';
  font-weight:500;
  font-style:normal;
  font-size:14px;
  color:rgba(255, 255, 255, 0.549019607843137);
  text-align:center;
  line-height:53px;
}
#u232_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto Medium', 'Roboto Regular', 'Roboto';
  font-weight:500;
  font-style:normal;
  font-size:14px;
  color:rgba(255, 255, 255, 0.549019607843137);
  text-align:center;
  line-height:53px;
}
#u232.selected {
}
#u232_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-10px;
  width:62px;
  word-wrap:break-word;
}
#u233_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto Medium', 'Roboto Regular', 'Roboto';
  font-weight:500;
  font-style:normal;
  font-size:14px;
  color:rgba(255, 255, 255, 0.549019607843137);
  text-align:center;
  line-height:53px;
}
#u233 {
  border-width:0px;
  position:absolute;
  left:480px;
  top:1037px;
  width:56px;
  height:33px;
  font-family:'Roboto Medium', 'Roboto Regular', 'Roboto';
  font-weight:500;
  font-style:normal;
  font-size:14px;
  color:rgba(255, 255, 255, 0.549019607843137);
  text-align:center;
  line-height:53px;
}
#u233_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto Medium', 'Roboto Regular', 'Roboto';
  font-weight:500;
  font-style:normal;
  font-size:14px;
  color:rgba(255, 255, 255, 0.549019607843137);
  text-align:center;
  line-height:53px;
}
#u233.selected {
}
#u233_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-10px;
  width:56px;
  word-wrap:break-word;
}
#u234_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto Medium', 'Roboto Regular', 'Roboto';
  font-weight:500;
  font-style:normal;
  font-size:14px;
  color:rgba(255, 255, 255, 0.549019607843137);
  text-align:center;
  line-height:53px;
}
#u234 {
  border-width:0px;
  position:absolute;
  left:536px;
  top:1037px;
  width:82px;
  height:33px;
  font-family:'Roboto Medium', 'Roboto Regular', 'Roboto';
  font-weight:500;
  font-style:normal;
  font-size:14px;
  color:rgba(255, 255, 255, 0.549019607843137);
  text-align:center;
  line-height:53px;
}
#u234_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto Medium', 'Roboto Regular', 'Roboto';
  font-weight:500;
  font-style:normal;
  font-size:14px;
  color:rgba(255, 255, 255, 0.549019607843137);
  text-align:center;
  line-height:53px;
}
#u234.selected {
}
#u234_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-10px;
  width:82px;
  word-wrap:break-word;
}
#u235_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto Medium', 'Roboto Regular', 'Roboto';
  font-weight:500;
  font-style:normal;
  font-size:14px;
  color:rgba(255, 255, 255, 0.549019607843137);
  text-align:center;
  line-height:53px;
}
#u235 {
  border-width:0px;
  position:absolute;
  left:628px;
  top:1036px;
  width:67px;
  height:33px;
  font-family:'Roboto Medium', 'Roboto Regular', 'Roboto';
  font-weight:500;
  font-style:normal;
  font-size:14px;
  color:rgba(255, 255, 255, 0.549019607843137);
  text-align:center;
  line-height:53px;
}
#u235_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto Medium', 'Roboto Regular', 'Roboto';
  font-weight:500;
  font-style:normal;
  font-size:14px;
  color:rgba(255, 255, 255, 0.549019607843137);
  text-align:center;
  line-height:53px;
}
#u235.selected {
}
#u235_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-10px;
  width:67px;
  word-wrap:break-word;
}
