page-answer-module-comment {
    #textarea{
        background-color: white;
        padding-left: 1rem;
        padding-right: 1rem;
        padding-top:0.5rem;
        padding-bottom:0.5rem;
        overflow:scroll;
        overflow-y:hidden;
        overflow-x:hidden
    }


}
