page-parent-module-store {
    #my-slide{
        height: 15rem;
    }

    .fliter-button{
        min-width: 100%;
        margin: 0%;
        block-size: 3rem;
        font-size: 10px;
    }

    #fliter-row{
        background-color: white;

    }

    .prize-label{
        color: orange;
    }

    .card-title{
        font-weight: bold;
    }


    .img-area{
        max-height: 100px;
        max-width: 100px;
        margin: auto;
    }

    #segment-btn{
        padding: 0.5rem;
    }

}
