page-visit-ctrl-module-register {
 


    .radio-label{
        font-size: 0.8em;
        color: lightslategrey;
    }

    .my-input{
        background-color: white;
        padding-left:1rem;
        padding-right:1rem;
    }


}