page-teacher-module-homework-correcting-view {
    .student-name{
        margin: 0;
        font-weight: bold;
        font-size: 20px;
    }

    .score-lbl{
        margin: 0;
    }

    .correct-lbl{
        margin: 0;
    }
}
