<!--
  Generated template for the ClassManagerModuleClassInfoPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-toolbar color="primary">
    <ion-buttons start>
      <button ion-button clear (click)="onAddStudentBtnClick()">
        <p class="btn-text">添加学生</p>
      </button>
    </ion-buttons>
    <ion-title>班级管理</ion-title>
    <ion-buttons end>
      <button ion-button clear (click)="onAddClassBtnClick()">
        <p class="btn-text">创建班级</p>
      </button>
    </ion-buttons>

  </ion-toolbar>

</ion-header>


<ion-content>
  <ion-card style="margin:0;min-width:100%;">
    <ion-select [(ngModel)]="classSelect" (ngModelChange)="curClassChange($event)" placeholder="请选择班级" style="max-width: 100%;background-color: white;">
      <ion-option *ngFor="let class of classList">{{class.className}}</ion-option>
    </ion-select>
    <ion-item>
      <ion-label [(ngModel)]="curClass" ngDefaultControl style="font-size:12px;">班级id：{{curClass.classId}}</ion-label>
    </ion-item>
  </ion-card>
  
  <ion-list>
    <ion-list-header>
      学生列表
    </ion-list-header>
    <ion-item *ngFor="let student of curClass.studentList, let i = index" (click)="onStudentItemClick(i)">{{student.name}}</ion-item>
  </ion-list>
</ion-content>
