body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:971px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u873_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:485px;
  height:780px;
}
#u873 {
  border-width:0px;
  position:absolute;
  left:282px;
  top:363px;
  width:485px;
  height:780px;
}
#u873_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u874 {
  border-width:0px;
  position:absolute;
  left:345px;
  top:440px;
  width:360px;
  height:640px;
}
#u874_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
  overflow:hidden;
}
#u875_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:58px;
}
#u875 {
  border-width:0px;
  position:absolute;
  left:345px;
  top:513px;
  width:1px;
  height:57px;
}
#u875_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u876_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:4px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u876 {
  border-width:0px;
  position:absolute;
  left:706px;
  top:793px;
  width:97px;
  height:4px;
}
#u876_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:4px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u876.selected {
}
#u876_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u877_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:4px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u877 {
  border-width:0px;
  position:absolute;
  left:604px;
  top:793px;
  width:104px;
  height:4px;
}
#u877_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:4px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u877.selected {
}
#u877_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u878_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:4px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u878 {
  border-width:0px;
  position:absolute;
  left:514px;
  top:793px;
  width:91px;
  height:4px;
}
#u878_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:4px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u878.selected {
}
#u878_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u879_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:4px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u879 {
  border-width:0px;
  position:absolute;
  left:429px;
  top:793px;
  width:86px;
  height:4px;
}
#u879_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:4px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u879.selected {
}
#u879_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u880 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u881_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:4px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u881 {
  border-width:0px;
  position:absolute;
  left:802px;
  top:793px;
  width:88px;
  height:4px;
}
#u881_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:4px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u881.selected {
}
#u881_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u882_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:4px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u882 {
  border-width:0px;
  position:absolute;
  left:890px;
  top:793px;
  width:81px;
  height:4px;
}
#u882_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:4px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u882.selected {
}
#u882_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u883 {
  border-width:0px;
  position:absolute;
  left:370px;
  top:633px;
  width:312px;
  height:170px;
}
#u884_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:36px;
}
#u884 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:36px;
}
#u884_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:46px;
  word-wrap:break-word;
}
#u885_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:36px;
}
#u885 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:0px;
  width:80px;
  height:36px;
}
#u885_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:76px;
  word-wrap:break-word;
}
#u886_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:36px;
}
#u886 {
  border-width:0px;
  position:absolute;
  left:130px;
  top:0px;
  width:53px;
  height:36px;
}
#u886_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:49px;
  word-wrap:break-word;
}
#u887_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:36px;
}
#u887 {
  border-width:0px;
  position:absolute;
  left:183px;
  top:0px;
  width:70px;
  height:36px;
}
#u887_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:66px;
  word-wrap:break-word;
}
#u888_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:36px;
}
#u888 {
  border-width:0px;
  position:absolute;
  left:253px;
  top:0px;
  width:59px;
  height:36px;
}
#u888_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:55px;
  word-wrap:break-word;
}
#u889_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:36px;
}
#u889 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:36px;
  width:50px;
  height:36px;
}
#u889_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:46px;
  word-wrap:break-word;
}
#u890_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:36px;
}
#u890 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:36px;
  width:80px;
  height:36px;
}
#u890_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:76px;
  word-wrap:break-word;
}
#u891_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:36px;
}
#u891 {
  border-width:0px;
  position:absolute;
  left:130px;
  top:36px;
  width:53px;
  height:36px;
}
#u891_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:49px;
  word-wrap:break-word;
}
#u892_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:36px;
}
#u892 {
  border-width:0px;
  position:absolute;
  left:183px;
  top:36px;
  width:70px;
  height:36px;
}
#u892_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:66px;
  word-wrap:break-word;
}
#u893_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:36px;
}
#u893 {
  border-width:0px;
  position:absolute;
  left:253px;
  top:36px;
  width:59px;
  height:36px;
}
#u893_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:55px;
  word-wrap:break-word;
}
#u894_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:24px;
}
#u894 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:72px;
  width:50px;
  height:24px;
}
#u894_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:46px;
  word-wrap:break-word;
}
#u895_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:24px;
}
#u895 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:72px;
  width:80px;
  height:24px;
}
#u895_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:76px;
  word-wrap:break-word;
}
#u896_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:24px;
}
#u896 {
  border-width:0px;
  position:absolute;
  left:130px;
  top:72px;
  width:53px;
  height:24px;
}
#u896_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:49px;
  word-wrap:break-word;
}
#u897_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:24px;
}
#u897 {
  border-width:0px;
  position:absolute;
  left:183px;
  top:72px;
  width:70px;
  height:24px;
}
#u897_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:66px;
  word-wrap:break-word;
}
#u898_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:24px;
}
#u898 {
  border-width:0px;
  position:absolute;
  left:253px;
  top:72px;
  width:59px;
  height:24px;
}
#u898_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:55px;
  word-wrap:break-word;
}
#u899_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:24px;
}
#u899 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:96px;
  width:50px;
  height:24px;
}
#u899_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:46px;
  word-wrap:break-word;
}
#u900_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:24px;
}
#u900 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:96px;
  width:80px;
  height:24px;
}
#u900_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:76px;
  word-wrap:break-word;
}
#u901_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:24px;
}
#u901 {
  border-width:0px;
  position:absolute;
  left:130px;
  top:96px;
  width:53px;
  height:24px;
}
#u901_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:49px;
  word-wrap:break-word;
}
#u902_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:24px;
}
#u902 {
  border-width:0px;
  position:absolute;
  left:183px;
  top:96px;
  width:70px;
  height:24px;
}
#u902_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:66px;
  word-wrap:break-word;
}
#u903_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:24px;
}
#u903 {
  border-width:0px;
  position:absolute;
  left:253px;
  top:96px;
  width:59px;
  height:24px;
}
#u903_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:55px;
  word-wrap:break-word;
}
#u904_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:24px;
}
#u904 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:120px;
  width:50px;
  height:24px;
}
#u904_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u905_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:24px;
}
#u905 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:120px;
  width:80px;
  height:24px;
}
#u905_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u906_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:24px;
}
#u906 {
  border-width:0px;
  position:absolute;
  left:130px;
  top:120px;
  width:53px;
  height:24px;
}
#u906_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u907_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:24px;
}
#u907 {
  border-width:0px;
  position:absolute;
  left:183px;
  top:120px;
  width:70px;
  height:24px;
}
#u907_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u908_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:24px;
}
#u908 {
  border-width:0px;
  position:absolute;
  left:253px;
  top:120px;
  width:59px;
  height:24px;
}
#u908_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u909_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:26px;
}
#u909 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:144px;
  width:50px;
  height:26px;
}
#u909_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u910_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:26px;
}
#u910 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:144px;
  width:80px;
  height:26px;
}
#u910_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u911_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:26px;
}
#u911 {
  border-width:0px;
  position:absolute;
  left:130px;
  top:144px;
  width:53px;
  height:26px;
}
#u911_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u912_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:26px;
}
#u912 {
  border-width:0px;
  position:absolute;
  left:183px;
  top:144px;
  width:70px;
  height:26px;
}
#u912_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u913_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:26px;
}
#u913 {
  border-width:0px;
  position:absolute;
  left:253px;
  top:144px;
  width:59px;
  height:26px;
}
#u913_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u914 {
  border-width:0px;
  position:absolute;
  left:345px;
  top:440px;
  width:360px;
  height:130px;
  overflow:hidden;
  touch-action:none;
}
#u914_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:130px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u914_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u916_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:364px;
  height:140px;
  background:inherit;
  background-color:rgba(218, 67, 54, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u916 {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-10px;
  width:364px;
  height:140px;
}
#u916_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u917 {
  position:absolute;
  left:17px;
  top:41px;
  visibility:hidden;
}
#u917_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
  background-image:none;
}
#u917_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u918_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u918 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u918_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u917_state1 {
  position:relative;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
  visibility:hidden;
  background-image:none;
}
#u917_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u919_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u919 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u919_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u920_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:22px;
}
#u920 {
  border-width:0px;
  position:absolute;
  left:325px;
  top:43px;
  width:20px;
  height:22px;
}
#u920_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u921 {
  position:absolute;
  left:325px;
  top:43px;
}
#u921_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:20px;
  height:22px;
  background-image:none;
}
#u921_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u922_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:22px;
}
#u922 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:22px;
}
#u922_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u921_state1 {
  position:relative;
  left:0px;
  top:0px;
  width:38px;
  height:39px;
  visibility:hidden;
  background-image:none;
}
#u921_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u923_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:56px;
}
#u923 {
  border-width:0px;
  position:absolute;
  left:-18px;
  top:-17px;
  width:56px;
  height:56px;
}
#u923_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u924_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:667px;
  height:170px;
  background:inherit;
  background-color:rgba(218, 67, 54, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u924 {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:78px;
  width:667px;
  height:170px;
}
#u924_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u925_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:4px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u925 {
  border-width:0px;
  position:absolute;
  left:179px;
  top:126px;
  width:179px;
  height:4px;
}
#u925_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:4px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u925.selected {
}
#u925_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u926_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:4px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u926 {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:126px;
  width:179px;
  height:4px;
}
#u926_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:4px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u926.selected {
}
#u926_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u927_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto Medium', 'Roboto Regular', 'Roboto';
  font-weight:500;
  font-style:normal;
  font-size:14px;
  color:rgba(255, 255, 255, 0.549019607843137);
  text-align:center;
  line-height:53px;
}
#u927 {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:88px;
  width:180px;
  height:33px;
  font-family:'Roboto Medium', 'Roboto Regular', 'Roboto';
  font-weight:500;
  font-style:normal;
  font-size:14px;
  color:rgba(255, 255, 255, 0.549019607843137);
  text-align:center;
  line-height:53px;
}
#u927_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto Medium', 'Roboto Regular', 'Roboto';
  font-weight:500;
  font-style:normal;
  font-size:14px;
  color:rgba(255, 255, 255, 0.549019607843137);
  text-align:center;
  line-height:53px;
}
#u927.selected {
}
#u927_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-10px;
  width:180px;
  word-wrap:break-word;
}
#u928_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto Medium', 'Roboto Regular', 'Roboto';
  font-weight:500;
  font-style:normal;
  font-size:14px;
  color:rgba(255, 255, 255, 0.549019607843137);
  text-align:center;
  line-height:53px;
}
#u928 {
  border-width:0px;
  position:absolute;
  left:178px;
  top:88px;
  width:180px;
  height:33px;
  font-family:'Roboto Medium', 'Roboto Regular', 'Roboto';
  font-weight:500;
  font-style:normal;
  font-size:14px;
  color:rgba(255, 255, 255, 0.549019607843137);
  text-align:center;
  line-height:53px;
}
#u928_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto Medium', 'Roboto Regular', 'Roboto';
  font-weight:500;
  font-style:normal;
  font-size:14px;
  color:rgba(255, 255, 255, 0.549019607843137);
  text-align:center;
  line-height:53px;
}
#u928.selected {
}
#u928_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-10px;
  width:180px;
  word-wrap:break-word;
}
#u929 {
  position:absolute;
  left:16px;
  top:41px;
}
#u929_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
  background-image:none;
}
#u929_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u930_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u930 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u930_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u929_state1 {
  position:relative;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
  visibility:hidden;
  background-image:none;
}
#u929_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u931_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u931 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u931_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u933 {
  border-width:0px;
  position:absolute;
  left:345px;
  top:440px;
  width:360px;
  height:26px;
  overflow:hidden;
}
#u933_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:26px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u933_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u934_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:364px;
  height:30px;
}
#u934 {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:364px;
  height:30px;
  opacity:0.150000005960464;
}
#u934_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u935_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto Regular', 'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u935 {
  border-width:0px;
  position:absolute;
  left:686px;
  top:5px;
  width:29px;
  height:16px;
  font-family:'Roboto Regular', 'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u935_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u936_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:17px;
}
#u936 {
  border-width:0px;
  position:absolute;
  left:308px;
  top:4px;
  width:15px;
  height:17px;
}
#u936_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u937_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:24px;
}
#u937 {
  border-width:0px;
  position:absolute;
  left:264px;
  top:2px;
  width:21px;
  height:24px;
}
#u937_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u938_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:20px;
}
#u938 {
  border-width:0px;
  position:absolute;
  left:286px;
  top:4px;
  width:18px;
  height:20px;
}
#u938_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u939_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto Regular', 'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u939 {
  border-width:0px;
  position:absolute;
  left:327px;
  top:5px;
  width:29px;
  height:16px;
  font-family:'Roboto Regular', 'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u939_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
