page-time-manager-module-schedule-info {
    .day-label{
        font-size:xx-large;
        font-weight:bold;
        margin-left:1rem;
    }

    .month-label{
        font-size:small;
        margin-left:1rem;
    }
}
