page-visit-ctrl-module-my-goods {
        #input-bar{
            // position: absolute;
            // margin: 0.5rem;
            min-height: 1rem;
            // width: 2rem;
        }
    
        #search-btn{
            margin: 0%;
            font-size: 15px;
        }
    
        #segment-btn{
            padding: 0.5rem;
        }
    
        .prize-label{
            position: absolute;
            color: orange;
            bottom: 0;
        }
    
        .card-title{
            font-weight: bold;
        }
    
}
